<section class="features">
  <h3 class="title">Features and services</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <hr>

  <ul class="grid">
    <li>
      <i class="fa fa-camera-retro"></i>
      <h4>Photography</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
    </li>
    <li>
      <i class="fa fa-cubes"></i>
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
    </li>
    <li>
      <i class="fa fa-newspaper-o"></i>
      <h4>Content Editing</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
    </li>
  </ul>
</section>

<section class="ourwork">
  <h3 class="title">Some of our work</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <hr>

  <ul class="grid">
    <li class="small" style="background-image: url(../../assets/img/coast.jpg);"></li>
    <li class="large" style="background-image: url(../../assets/img/island.jpg);"></li>
    <li class="large" style="background-image: url(../assets/img/balloon.jpg);"></li>
    <li class="small" style="background-image: url(../assets/img/mountain.jpg);"></li>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </ul>
</section>

<section class="hero">
  <div class="background-image" style="background-image: url(../assets/img/hero.jpg);"></div>
  <h1>Responsive Flexbox Template</h1>
  <h3>A freebie by Tutorialzine.</h3>
  <a href="http://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox/" class="btn">Download it Here</a>
</section>
