<aside class="sidebar">
  <div class="scrollbar-inner">

    <!--LOGGED USER-->

    <div class="user">

      <div class="user__info" data-toggle="dropdown" *ngIf="isLogged();">
          <img class="user__img" src="assets/wrap-bootstrap/demo/img/profile-pics/2.jpg" alt="">
          <div>
            <div class="user__name">Logged User</div>
            <!--<div class="user__email">malinda-h@gmail.com</div>-->
          </div>
      </div>
      <div class="user__info" data-toggle="dropdown" *ngIf="!isLogged()">
        <img class="user__img" src="assets/wrap-bootstrap/demo/img/profile-pics/user_empty.png" alt="">
        <div>
          <div class="user__name">Anonymous User</div>
          <!--<div class="user__email">malinda-h@gmail.com</div>-->
        </div>
      </div>

      <!--<div class="dropdown-menu">-->
      <!--<a class="dropdown-item" href="">View Profile</a>-->
      <!--<a class="dropdown-item" href="">Settings</a>-->
      <!--<a class="dropdown-item" href="">Logout</a>-->
      <!--</div>-->
    </div>

    <!--NAVIGATION-->

    <ul class="navigation">
      <li [routerLinkActive]="['navigation__active']">
        <a routerLink="/home"><i class="zmdi zmdi-home"></i>Home</a>
      </li>
      <li [routerLinkActive]="['navigation__active']">
        <a routerLink="/delegates"><i class="zmdi zmdi-view-week"></i>Delegates</a>
      </li>
      <li [routerLinkActive]="['navigation__active']">
        <a routerLink="/contact"><i class="zmdi zmdi-view-week"></i>Contact</a>
      </li>
    </ul>

  </div>
</aside>
